.table-container {
    width: 100%
}
.table {
    width: 100%;
    padding: 16px;
}

.heading {
    background-color: white;
    color: black;

}
.heading-row {
    height: 40px
}

.attribute {
    background-color: grey;
    height: 35px;
}
.row {
    background-color: white; 
    color: grey
}

.hintText {
    font-size: 13px;
    padding: 3px;
    border-style: none;
    color: blue;
    text-underline-position: under;
    cursor: pointer;
}
